#formOtp{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#userotp{
    height: 35px;
    width: 95px;
    padding: 5px;
    border-radius: 5px;
    outline: none;
    border: none;
}

#otpverify{
    height: 35px;
    width: 110px;
    border-radius: 7px;
    outline: none;
    border: none;
    background: black;
    color: white;
}